

<!-- Javascript to render an externally hosted draw.io file in the client's browser using the draw.io "viewer-static.in.js" viewer.  The draw.io viewer is required if you want any "custom links/actions" functionality to be enabled in the diagram when it renders.  The viewer also has a toolbar that with controls for zoom in/out, layer-toggling, tag-visiblity toggling, page-selection, and editing (the browser's local copy of) the diagram in-browser.
Adapted from code provided by markNZed (https://github.com/markNZed), provided in response to his own question on the drawio github repository. (https://github.com/jgraph/drawio/discussions/3430)  Original version could read files that had been saved "directly" in drawio's XML.  I modified it to add support for reading from drawio diagrams that had been saved as "editable SVGs".  I also added a pseudo-random tag to add to the <div> element it creates/populates so that the script can be used multiple times in the same document.-->

<!-- Insert a tag for the <div> object that the viewer-static-min.js code will render the diagram within-->
{% assign min = 1000 %}
{% assign max = 2000 %}
{% assign diff = max | minus: min %}
{% assign divIdNum = "now" | date: "%N" | modulo: diff | plus: min | append: ""%}
<div id="drawio-diagram-{{divIdNum}}"></div>

<script src="assets/js/viewer-static.min.js"></script>

<script>
    (function () {
        // We need to present the drawio graph data to the viewer in "escaped" format, but it is present "unescaped" in drawio XML files.
        // Character map for HTML-escaping 
        const chatMap = {
            "&": "&amp;",
            "'": "&#x27;",
            "`": "&#x60;",
            '"': "&quot;",
            "<": "&lt;",
            ">": "&gt;",
        };
        //Escape a string by substituing characters as defined in chatMap
        function replaceMatchedCharacters(match) {
            return chatMap[match];
        }
        //The function we'll call later to do the escaping 
        function escapeHTML(string) {
            if (typeof string !== "string") return string;
            return string.replace(/[&'`"<>]/g, replaceMatchedCharacters);
        }
        // Prepend the imported diagram data string with keys to set viewer parameters
        function createMxGraphData(xml, idx = new Date().getTime()) {
            return {
                "highlight": "#C8E0FA",
                "nav": true,
                "resize": true,
                "edit": "_blank",
                "editable": "true",
                "toolbar": "zoom lightbox layers",
                "toolbar-position": "bottom",
                "toolbar-nohide": false,
                "lightbox": false,
                zoom: "{{include.drawiozoom}}",
                "layers": "{{include.drawiolayers}}",
                xml,
            };
        }
        // Take the text string from the file being imported; slice-and-dice it into something that the drawio viewer will accept
        async function drawioConverterAsync(xml, idx) {
            return new Promise((resolve) => {
                const mxGraphData = createMxGraphData(xml, idx); 
                const json = JSON.stringify(mxGraphData);
                const mxGraphHTML = createMxGraphHTML(json);
                resolve(mxGraphHTML);
            });
        }
        //Build the HTML content that will end up in the rendered page and acted on by viewer-min.js
        function createMxGraphHTML(json) {
            return `<div class="mxgraph" style="max-width:100%;border:5px solid transparent;" data-mxgraph="${escapeHTML(json)}"></div>`;
        }
        // Extra extraction steps for diagrams saved in SVG containers.
        function pullDrawioCopyFromSvg (inboundText){
            const xmlDoc = new DOMParser().parseFromString(inboundText, "text/xml");
            const svgElements = xmlDoc.getElementsByTagName("svg");
            if (svgElements !== null) return inboundText;
            const mxFileAttribute = svgElements[0].attributes.content.nodeValue;
            return mxFileAttribute;
        }
        // Load Draw.io file
        function loadDrawioFile(url, divIdForMe) {
            fetch(url)
                .then((response) => { // Get the text from the file at the URL being imported
                    return response.text();
                })
                .then((resolvedText) => {
                    return pullDrawioCopyFromSvg(resolvedText); //Run the imported text through extra SVG extraction process
                })
                .then((data) => {   // Run the imported text through some processing to clean it up for the draw.io viewer
                    return drawioConverterAsync(data);
                })
                .then((content) => {
                    const graphContainer = document.getElementById('drawio-diagram-{{divIdNum}}'); //Grab the HTML element that we'll render the diagram in
                    graphContainer.innerHTML = content; //Push our diagram data into the HTML element we just grabbed
                    window.GraphViewer.processElements();   //Have the draw.io viewer process/render all of the elements in the diagram data
                })
                .catch((err) => {
                    console.error("Error loading draw.io file:", err);
                });
        }

        // Initialize
        loadDrawioFile("{{include.drawiolink}}", "{{divIdNum}}");
    })();
</script>