<details>
    <summary>{{ summary | markdownify | remove: '<p>' | remove: '</p>' }}</summary>
    {{ details | markdownify }}
</details>




# as used in markdown pages:

<details markdown=block>
    <summary markdown=span>Key</summary>
    [![image](./dglb-conceptual-key.drawio.svg){:class="img-fluid"}](./pages/1/1%20(dglb)/dglb-conceptual-key.drawio.svg){:target="_blank"}
    </details>

<div markdown=block>
    [![image](./dglb-conceptual-key.drawio.svg){:class="img-fluid"}](./pages/1/1%20(dglb)/dglb-conceptual-key.drawio.svg){:target="_blank"}
    </details>
    