
<div id="drawio-diagram"></div>
<script src="assets/js/viewer.min.js"></script>
<script src="assets/js/mxUtils.js"></script>
<script src="assets/js/Graph.js"></script>

<script>
    (function () {
 
        // Draw.io converter
        function createMxGraphData(xml, idx = new Date().getTime()) {
            return {
                "highlight": "#987654",
                "nav": true,
                "resize": true,
                "edit": "_blank",
                "editable": "true",
                "lightbox": false,
                zoom: "1.5",
                xml,
            };
        }

        async function drawioConverterAsync(xml, idx) {
            return new Promise((resolve) => {
                const mxGraphData = createMxGraphData(xml, idx);
                const json = JSON.stringify(mxGraphData);
                const mxGraphHTML = createMxGraphHTML(json);
                resolve(mxGraphHTML);
            });
        }

        function createMxGraphHTML(json) {
            console.log('json', json);
            return `<div class="mxgraph" style="max-width:100%;border:1px solid transparent;" data-mxgraph=${json}></div>`;
        }

        function getAtSvgTag_contentProperty (xml){
            const xmlDoc = new DOMParser().parseFromString(xmlg, "text/xml");
            console.log('xmlDoc', xmlDoc);
            const svgElements = xmlDoc.getElementsByTagName("svg");
            console.log('svgElements', svgElements );
        }


        // Load Draw.io file
        function loadDrawioFile(url) {
            fetch(url)
                .then((response) => {
                    console.log('response', response);
                    return response.text();
                })
                .then((goGetThatContent) => {
                    return getAtSvgTag_contentProperty(goGetThatContent);
                })
                .then((data) => {
                    return drawioConverterAsync(data);
                })
                .then((content) => {
                    const graphContainer = document.getElementById('drawio-diagram');
                    graphContainer.innerHTML = content;
                    window.GraphViewer.processElements();
                })
                .catch((err) => {
                    console.error("Error loading draw.io file:", err);
                });
        }

        // Initialize
        loadDrawioFile("{{include.drawiolink}}");

    })();
</script>
