<footer>
  <div class="container-xxl" style="padding-top: 32px;">
    <div class="col-12 footer d-flex flex-row-reverse" style="padding-right: 0px;">
      <span>
        &copy;{{ site.time | date: "%Y"  }} {{site.company_name}}. All rights reserved. <br />
        {% if page.last_updated %}
        Page last updated:> {{page.last_updated}} <br/>
      {% endif %} 

        <span style="margin-right: 30px;">Site last generated: {{ site.time | date: "%b %-d, %Y"  }} <br></span>
      </span>
    </div>
    <div class="col-12 footer d-flex flex-row-reverse menck-footer" style="padding-right: 0px;">
        <object type="image/svg+xml" data="assets\images\grrr3.drawi.svg"  style="margin-top: -1.5em; padding:0px;height:3.5em; display:inline-block;"></object>
</div></div>
</footer>