<footer>
  <div>
    <div class="container-xxl" style="padding-top: 32px;">
      <div class="col-12 footer d-flex flex-row-reverse" style="padding-right: 0px;">
        <span>
          &copy;{{ site.time | date: "%Y"  }} {{site.company_name}}. All rights reserved. <br />
          {% if page.last_updated %}
            Page last updated:> {{page.last_updated}} <br/>
          {% endif %} 
          Site last generated: {{ site.time | date: "%b %-d, %Y"  }} <br />
          <div class="d-flex align-items-right justify-content-end">
            <img src="{{ "assets/images/menckenania-logo-blueall.drawio.svg" }}" style="margin:0px; padding:0px; margin-top:0.5em; height:2em"/>
            <img src="{{ "assets/images/favicon-greyish.svg" }}" style="margin:0; padding:0px; height:3em; width:3em;"/>
          </div>
          <br />
        </span>
      </div>
  </div>
  </div>
</footer>
