<footer>
  <div>
    <div class="container-xxl" style="padding-top: 32px;">
      <div class="col-12 footer d-flex flex-row-reverse" style="padding-right: 0px;">
        <span>
          &copy;{{ site.time | date: "%Y"  }} {{site.company_name}}. All rights reserved. <br />
          {% if page.last_updated %}
            Page last updated:> {{page.last_updated}} <br/>
          {% endif %} 
          Site last generated: {{ site.time | date: "%b %-d, %Y"  }} <br />
          <div d-flex align-items-right justify-content-between>
            <img src="{{ "assets/images/menckenania-logo-with-font-black-grey.png" }} "style="margin-left:-12px; height:3em"/>
            <img src="{{ "assets/images/favicon-greyish.svg" }} "style="margin-left:-12px; height:4em; width:4em;"/>
          </div>
      </div>
  </div>
  </div>
</footer>
