<!--   In-page page-navigation buttons  -->
{% unless page.pagenav == false %}
  {%comment%} Create previous/next in-page navigation buttons. {%endcomment%}
  {%comment%} Figure out what the terminal-index-level of the current page is (as "mylevel") {%endcomment%}
  {% for i in (1..10) %}
    {% assign lvlvar = "l" | append: i | append: "idx" %}
    {% if page[lvlvar] %}
      {% assign myidx = page[lvlvar] %}
      {% assign mylvl = forloop.index %}
    {% endif %}
  {% endfor %}
  {% assign lvlvar = "l" | append: mylvl | append: "idx" %}
  {% assign mylvl-int = mylvl | to_i %}
  {% assign myidx-int = myidx | to_i %}
  {% assign parentlvl = '' | plus: 0 %}
  {% assign parentlvl = mylvl-int | minus: 1 %}
  {% assign nextlvl = mylvl-int | plus: 1 %}
  {%comment%}  Create collection of "adjacent" pages to this one. {%endcomment%}  
  {% assign ngbr_pgs = '' | split: ',' %}
  {% assign ngbr_urls = '' | split: ',' %}
  {% assign ngbr_idxes = '' | split: ',' %}
  {%comment%} Loop through all the pages in the site {%endcomment%}
  {% for cpg in site.pages %}
    {%comment%} Start by assuming that each page in site.pages *is* a neighbor page for the current page {%endcomment%}
    {% assign goodpage = 'true' %}
    {%comment%} Loop through the page-hierarchy levls from 1 up to the parent-level of the active page {%endcomment%}
    {% for i in (1..parentlvl) %}
      {% if goodpage == 'true' %}
        {% assign cmpvar = 'l' | append: i | append: 'idx' %}
        {% if cpg[cmpvar] %}
          {% if cpg[cmpvar] != page[cmpvar] %}
          {%comment%} Mark the looped page as "not a neighbor", because one of the higher-levels in the hierarchy has a different value than the active page {%endcomment%}
            {% assign goodpage = 'false' %}
          {% endif %}
        {% else %}
        {%comment%} Mark the looped page as "not a neighbor", because it doesn't even *have* an index for for one higher levels in the hierarchy.  {%endcomment%}
        {% assign goodpage = 'false'%}
        {% endif %}
      {% endif %}
    {% endfor %}
    {%comment%} Loop through the page-hierarchy levls from the active-page's child-level to the deepest level (10, for now) {%endcomment%}
    {% for k in (nextlvl..10) %}
      {% if goodpage == 'true' %}
        {% assign cmpvar = 'l' | append: k | append: 'idx' %}
        {% if cpg[cmpvar] %}
          {% assign goodpage = 'false' %}
        {% endif %}
      {% endif %}
    {% endfor %}
    {% if goodpage == 'true' %}
      {% assign mystr = 'l' | append: mylvl | append: 'idx' %}
      {% assign myval = page[mystr] %}
      {% assign yourval = cpg[mystr] %}
      {% if myval == yourval %}
        {% assign goodpage = 'false' %}
      {% endif %}
    {% endif %}
    {%comment%} mark the "parent-page"  of the current page as "not a neighbor"  {%endcomment%}
    {% if goodpage == 'true' %}
      {% assign str_aa = 'l' | append: parentlvl | append: 'idx' %}
      {% assign str_bb = 'l' | append: mylvl | append: 'idx' %}
      {% if cpg[str_aa] %}
        {% unless cpg[str_bb] %}
          {% assign goodpage = 'false' %}
        {% endunless %}
      {% endif %}
    {% endif%}
    {% if goodpage == 'true' %}
      {% assign ngbr_pgs = ngbr_pgs | push: forloop.index0 %}
      {% assign ngbr_urls = ngbr_urls | push: cpg.url %}
      {% assign ngbr_idxes = ngbr_idxes | push: cpg[str_bb] %}
    {% endif %}
  {% endfor %}

  {%comment%} Figure out the previous and next pages' site.pages' URLs, for use in the navigation buttons {%endcomment%}
  {% assign ngct = ngbr_pgs | size | minus: 1 %}

  {% assign lvlvar = "l" | append: mylvl | append: "idx" %}
  {% assign prvidx = myidx | minus: 1 %}
  {% assign nxtidx = myidx | plus: 1 %}

  {% for xray in (0..ngct) %}
    {% if ngbr_idxes[forloop.index0] == prvidx %}
      {% assign prvurl = ngbr_urls[forloop.index0] %}
    {% endif %}
    {% if ngbr_idxes[forloop.index0] == nxtidx %}
      {% assign nxturl = ngbr_urls[forloop.index0] %}
    {% endif %}
  {% endfor %}



  
  <ul class="navbar-nav flex-row flex-wrap bd-navbar-nav menck-topnav-text-color" style="padding-left: 24px;">
    <li class="nav-item py-2 py-lg-1 col-12 col-lg-auto">
      <div class="vr d-none d-lg-flex h-100 mx-lg-2 menck-topnav-text-color">
        </div>
      <hr class="d-lg-none my-2 menck-topnav-text-color">
    </li>
    <li class="nav-item py-2 py-lg-1 col-12 col-lg-auto menck-topnav-text-color">
      <div class="form-check form-switch d-flex align-self-center menck-topnav-text-color">
        <input class="form-check-input menck-tn-toggle-control menck-topnav-text-color" type="checkbox" id="MenckSidebarToggle" data-bs-target="#MenckSidebar" data-target="#MenckSidebar" data-bs-toggle="collapse" style="background-color:grey;">
        <label class="form-check-label menck-tn-toggle-label menck-topnav-text-color" for="MenckSidebarToggle"> Doc Nav</label>
      </div>
      <li class="nav-item py-2 py-lg-1 col-12 col-lg-auto">
        <div class="vr d-none d-lg-flex h-100 mx-lg-2 menck-topnav-text-color">
          </div>
        <hr class="d-lg-none my-2 menck-topnav-text-color">
      </li>
      </li>
      <li class="nav-item py-2 py-lg-1 col-12 col-lg-auto menck-topnav-text-color">
        <div class="form-check form-switch d-flex align-self-center menck-topnav-text-color">
        <input class="form-check-input menck-tn-toggle-control menck-topnav-text-color" type="checkbox" id="MenckRightbarToggle" data-bs-target="#MenckRightbar" data-target="#MenckRightbar" data-bs-toggle="collapse" style="background-color:grey;">
        <label class="form-check-label menck-tn-toggle-label menck-topnav-text-color" for="MenckRightbarToggle"> Page TOC</label>
      </div>
    </li>
    <li class="nav-item py-2 py-lg-1 col-12 col-lg-auto">
      <div class="vr d-none d-lg-flex h-100 mx-lg-2 menck-topnav-text-color">
        </div>
      <hr class="d-lg-none my-2 menck-topnav-text-color">
      </li>
    <div class="flex-nowrap">
      <li class="nav-item col-6 col-lg-auto">
        <a class="nav-link py-2 px-0 px-lg-2 active menck-topnav-text-color" aria-current="true" href="{{ prvurl | remove: '/'}}" ><i class="bi bi-chevron-double-left d-flex align-self-center"></i></a>
      </li>
      <li class="nav-item col-6 col-lg-auto">
        <a class="py-1 px-0 px-lg-2 d-flex align-self-start menck-topnav-text-color" style="text-decoration: none;" > Prv/Nxt Page</a>
      </li>
      <li class="nav-item col-6 col-lg-auto">
        <a class="nav-link py-2 px-0 px-lg-2 active menck-topnav-text-color" aria-current="true" href="{{ nxturl | remove: '/'}}" ><i class="bi bi-chevron-double-right d-flex align-self-center"></i></a>
      <li class="nav-item col-6 col-lg-auto">
        <hr class="d-lg-none my-2 menck-topnav-text-color">
      </li>
    </div>
    <li class="nav-item py-2 py-lg-1 col-12 col-lg-auto">
      <div class="vr d-none d-lg-flex h-100 mx-lg-2 menck-topnav-text-color">
        </div>
      <hr class="d-lg-none my-2 menck-topnav-text-color">
    </li>
  </ul>


{% endunless %}

<!--   End of in-page page-navigation buttons  -->
