<footer class="bd-footer py-4 py-md-5 mt-5 bg-body-tertiary">
  <div class="container py-4 py-md-1 px-4 px-md-3 text-body-secondary">
    <div class="flex-row-reverse">
      <div class="col-lg-12 footer">
        &copy;{{ site.time | date: "%Y"  }} {{site.company_name}}. All rights reserved. <br />
        {% if page.last_updated %}<span>Page last updated:</span> {{page.last_updated}}<br/>{% endif %} Site last generated: {{ site.time | date: "%b %-d, %Y"  }} <br />
        <p><img src="{{ "images/h-l-m-d.png" }}" alt="Company logo"/></p>
      </div>
    </div>
  </div>
</footer>





