<div class="col-auto px-0">
  <div id="MenckRightbar" class="collapse-horizontal collapse">
    <aside class="menck-sidebar"; style="width:300px;">
      <nav class="bs-links w-100" id="bd-docs-nav" aria-label="Docs navigation">
        <ul class="bd-links-nav list-unstyled">
          <div style="padding-top: 32px;" class="mencknav container-fluid right-sidebar-chunk">
            <strong class="d-none d-md-block h6 my-2 ms-3">On this page</strong>
            <hr class="d-none d-md-block my-2 ms-3">
            {% include toc.html html=content sanitize=true class="inline_toc" id="my_toc" h_min=2 h_max=3 %}
          </div>
        </ul>
      </nav>
    </aside>
  </div>
</div>
