<footer>
  <div>
    <div class="container-fluid row" style="padding-top: 32px;">
      <div class="col-lg-12 footer d-flex flex-row-reverse" style="padding-right: 32px;">
        <span>
          &copy;{{ site.time | date: "%Y"  }} {{site.company_name}}. All rights reserved. <br />
          {% if page.last_updated %}
            Page last updated:> {{page.last_updated}} <br/>
          {% endif %} 
          Site last generated: {{ site.time | date: "%b %-d, %Y"  }} <br />
          <img src="{{ "images/h-l-m-d.png" }}" alt="Company logo"/><br /></span>
      </div>
  </div>
  </div>
</footer>
