<!-- <div class="col-auto px-0"> -->
  <div id="MenckRightbar" class="collapse-horizontal collapse">
    <aside class="menck-sidebar" >
      <nav class="bs-links w-100" id="page-toc" aria-label="Page TOC">
        <ul class="bs-links-nav list-unstyled mb-0 pb-3 pb-md-2 pe-lg-2">
          <div class="mencknav container-fluid left-sidebar-chunk">
            <div style="padding-top: 0px;"><p><strong><a class="sbtitle">On this page</a></strong></p></div>
            {% include toc.html html=content sanitize=true class="inline_toc" item_class="l3item" id="my_toc" h_min=2 h_max=3 %}
          </div>
        </ul>
      </nav>
    </aside>
  </div>
<!-- </div> -->
