<div class="bd-content ps-lg-2">



  <h2 id="package-managers">Package managers <a class="anchor-link" href="#package-managers" aria-label="Link to this section: Package managers"></a></h2>
  <p>Pull in Bootstrap’s <strong>source files</strong> into nearly any project with some of the most popular package managers. No matter the package manager, Bootstrap will <strong>require a <a href="/docs/5.3/getting-started/contribute/#sass">Sass compiler</a> and <a href="https://github.com/postcss/autoprefixer">Autoprefixer</a></strong> for a setup that matches our official compiled versions.</p>
  
  <div class="bd-callout bd-callout-info">
  <strong>Get started with Bootstrap via npm with our starter project!</strong> Head to the <a href="https://github.com/twbs/examples/tree/main/sass-js">Sass &amp; JS example</a> template repository to see how to build and customize Bootstrap in your own npm project. Includes Sass compiler, Autoprefixer, Stylelint, PurgeCSS, and Bootstrap Icons.
  </div>
  
        </div>