<header class="navbar navbar-expand-lg menck-navbar sticky-top">
  <nav class="container-fluid bd-gutter flex-wrap flex-lg-nowrap" aria-label="Main navigation">
    <a class="navbar-brand p-0 me-0 me-lg-1 d-flex align-self-center" href="/alpha"  aria-label="Site icon, links to site's home page">
      <img class="d-flex align-self-center" src="images/menckenania-logo-with-font.drawio.svg" style="height: 40px"></img>
    </a>
    <div class="offcanvas-lg offcanvas-end flex-grow-1" tabindex="-1" id="bdNavbar" aria-labelledby="bdNavbarOffcanvasLabel" data-bs-scroll="true">
      <div class="offcanvas-header px-4 pb-0">
        <h5 class="offcanvas-title menck-topnav-text-color" id="bdNavbarOffcanvasLabel">Bootstrap</h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close" data-bs-target="#bdNavbar">
              </button>
      </div>
      <div class="offcanvas-body p-4 pt-0 p-lg-0">
        {% include in-page-nav-buttons.html %}
        <ul class="navbar-nav flex-row flex-wrap ms-md-auto">
          <!-- Divider bar (white) -->
          <li class="nav-item py-2 py-lg-1 col-12 col-lg-auto">
            <div class="vr d-none d-lg-flex h-100 mx-lg-2 menck-topnav-text-color">
              </div>
            <hr class="d-lg-none my-2 menck-topnav-text-color">
          </li>
          <!-- Replace this section with a loop through the social-media data yaml-->
          <li class="nav-item col-6 col-lg-auto">
            <a class="nav-link py-2 px-0 px-lg-2 menck-topnav-text-color" href="mailto:mencken@gmail.com" target="_blank" rel="noopener">
              <i class="bi bi-envelope d-flex align-self-center" style="font-size: 20px"></i>
              <small class="d-lg-none ms-2">email</small>
            </a>
          </li>
          <li class="nav-item col-6 col-lg-auto">
            <a class="nav-link py-2 px-0 px-lg-2 menck-topnav-text-color" href="https://github.com/menckend/" target="_blank" rel="noopener">
              <i class="bi bi-github d-flex align-self-center" style="font-size: 20px"></i>
              <small class="d-lg-none ms-2">Github</small>
            </a>
          </li>
          <li class="nav-item col-6 col-lg-auto">
            <a class="nav-link py-2 px-0 px-lg-2 menck-topnav-text-color" href="https://twitter.com/totstroc" target="_blank" rel="noopener">
              <i class="bi bi-twitter d-flex align-self-center" style="font-size: 20px"></i>
              <small class="d-lg-none ms-2">twitter</small>
            </a>
          </li>
          <li class="nav-item col-6 col-lg-auto">
            <a class="nav-link py-2 px-0 px-lg-2 menck-topnav-text-color" href="https://facebook.com/mencken.davidson" target="_blank" rel="noopener">
              <i class="bi bi-facebook d-flex align-self-center" style="font-size: 20px"></i>
              <small class="d-lg-none ms-2">facebook</small>
            </a>
          </li>
          <li class="nav-item col-6 col-lg-auto">
            <a class="nav-link py-2 px-0 px-lg-2 menck-topnav-text-color" href="ttps://open.spotify.com/user/menckendavidson" target="_blank" rel="noopener">
              <i class="bi bi-spotify d-flex align-self-center" style="font-size: 20px"></i>
              <small class="d-lg-none ms-2">spotify</small>
            </a>
          </li>
          <!-- Replace above section with a loop through the social-media data yaml-->
          <!-- Dropdown menus -->
          {% comment %} entries with drop-downs appear here {% endcomment %}
          {% comment %} Get an array of all the unique "l1idx" values in all the pages on the site  {% endcomment %}
          {% assign l1idxes = site.pages | where_exp: 'page', 'page.l2idx == nil' | sort: '11idx' | map: 'l1idx' | compact | uniq %}
          {% comment %} Loop through the unique l1idx values {% endcomment %}
          {% for l1ix in l1idxes %}
            {% comment %} Get all pages with this ("my") l1idx value {% endcomment %}
            {% assign myl1pages = site.pages | where: 'l1idx', l1ix | sort: 'l1idx' | compact %}
            {% comment %} Get l1name value that corresponds to the this("my") l1idx value {% endcomment %}
            {% assign thisl1name = myl1pages | where_exp: 'page', 'page.l2idx == nil' | map: 'title' | compact | uniq %}
            {% assign thisl1url = myl1pages | where_exp: 'page', 'page.l2idx == nil' | map: 'url' %}
            {% comment %} Building a dropdown button for each unique l1idx value in our pages  {% endcomment %}
            <li class="nav-item py-2 py-lg-1 col-12 col-lg-auto">
              <div class="vr d-none d-lg-flex h-100 mx-lg-2 menck-topnav-text-color"></div>
              <hr class="d-lg-none my-2 menck-topnav-text-color">
            </li>
            <!-- library/dropdown-menu -->
            <li class="nav-item dropdown menck-topnav-text-color">
              <button type="button" class="btn btn-link nav-link py-2 px-0 px-lg-2 dropdown-toggle menck-topnav-text-color show" data-bs-toggle="dropdown" aria-expanded="true" data-bs-display="static">
                {{ thisl1name }}
              </button>
              <ul class="dropdown-menu dropdown-menu-end " data-bs-popper="static">
                {% assign l2idxes = myl1pages | sort: 'l2idx' | map: 'l2idx' | compact | uniq %}
                {% comment %} Loop through the l2idxes to build the entries in the dropdown menu {% endcomment %}
                {% for l2ix in l2idxes %}
                  {% assign myl2pages = myl1pages | where: 'l2idx', l2ix | sort: 'l2idx' | compact | uniq %}
                  {% assign myl2name = myl2pages | where_exp: 'page', 'page.l3idx == nil' | sort: 'l2idx' | map: 'title' | compact | uniq %}
                  {% assign myl2url = myl2pages | where_exp: 'page', 'page.l3idx == nil' | sort: 'l2idx'| map: 'url' %}
                  <li>
                    <a class="dropdown-item d-flex align-items-center justify-content-between active" aria-current="true" href="{{myl2url[0] | remove: "/"}}">
                      {{ myl2name }}
                      {% if l1ix == page.l1idx and l2ix == page.l2idx %}
                        <svg class="bi"><use xlink:href="#check2"></use></svg>
                      {% endif %}
                    </a>
                {% endfor %}
              </ul>
            </li>
          {% endfor %}
          <li class="nav-item py-2 py-lg-1 col-12 col-lg-auto">
            <div class="vr d-none d-lg-flex h-100 mx-lg-2 text-white"></div>
            <hr class="d-lg-none my-2 text-white-50">
          <li class="nav-item dropdown">
            <button class="btn btn-link nav-link py-2 px-0 px-lg-2 dropdown-toggle d-flex align-items-center" id="bd-theme" type="button" aria-expanded="false" data-bs-toggle="dropdown" data-bs-display="static" aria-label="Toggle theme (light)">
              <svg class="bi my-1 theme-icon-active">
              <use href="#sun-fill">
              </use>
              </svg>
              <span class="d-lg-none ms-2" id="bd-theme-text">Toggle theme</span>
            </button>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="bd-theme-text">
              <li>
                <button type="button" class="dropdown-item d-flex align-items-center active" data-bs-theme-value="light" aria-pressed="true">
                  <svg class="bi me-2 opacity-50 theme-icon">
              <use href="#sun-fill">
              </use>
              </svg>
                  Light
                  <svg class="bi ms-auto d-none">
              <use href="#check2">
              </use>
              </svg>
                </button>
              </li>
              <li>
                <button type="button" class="dropdown-item d-flex align-items-center" data-bs-theme-value="dark" aria-pressed="false">
                  <svg class="bi me-2 opacity-50 theme-icon">
              <use href="#moon-stars-fill">
              </use>
              </svg>
                  Dark
                  <svg class="bi ms-auto d-none">
              <use href="#check2">
              </use>
              </svg>
                </button>
              </li>
              <li>
                <button type="button" class="dropdown-item d-flex align-items-center" data-bs-theme-value="auto" aria-pressed="false">
                  <svg class="bi me-2 opacity-50 theme-icon">
              <use href="#circle-half">
              </use>
              </svg>
                  Auto
                  <svg class="bi ms-auto d-none">
              <use href="#check2">
              </use>
              </svg>
                </button>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
