<nav class="bs-links w-100 menck-sblinks" id="bd-docs-nav" aria-label="Docs navigation">
    <ul class="bs-links-nav list-unstyled mb-0 pb-3 pb-md-2 pe-lg-2" "style="margin:0; padding:0;">
        <div class="mencknav left-sidebar-chunk">
            <div>
                {% assign titlepages = site.pages | where: 'l1idx', page.l1idx | where: 'l2idx', page.l2idx | where_exp: 'page', 'page.l3idx == nil'| where_exp: 'page', 'page.l4idx == nil' | where_exp: 'page', 'page.l5idx == nil' | where_exp: 'page', 'page.l6idx == nil' | where_exp: 'page', 'page.l7idx == nil' | where_exp: 'page', 'page.l8idx == nil' | where_exp: 'page', 'page.l9idx == nil' | where_exp: 'page', 'page.l10idx == nil' | where_exp: 'page', 'page.l11idx == nil' %}

                {% if titlepages.size > 1 %}
                    <p><strong><a class="sbtitle">Oops!  There are {{titlepages.size}} pages using the same index.  Look for frontmatter matching: {{ titlepages[0].url }}</a></strong></p>
                {% else %}

                    <p><strong><a class="sbtitle" title="{{ titlepages[0].title}}" href="{{ titlepages[0].url | remove: '/'}}">{{ titlepages[0].title }}.  This many titlepages: {{titlepages.size }}</a></strong></p>
    
                {% endif %}
            </div>
            {% assign sidebarbpgs = site.pages | where: 'l1idx', page.l1idx | where: 'l2idx', page.l2idx | where_exp: 'page', 'page.l3idx != nil' %}
            {% if sidebarpgs.size != nil and sbpgs.size > 0 %}
                {% assign ourl3idxes = sbpgs | sort: 'l3idx' | map: 'l3idx' | compact | uniq %}
                {% if ourl3idxes.size != nil and ourl3idxes.size > 0  %}
                    {% for l3ix in ourl3idxes %}
                        {% assign l3ixpgs = sbpgs | where 'l3idx', l3ix %}
                        {% assign l3ixchildren = l3ixpgs | where_exp 'page', 'l4idx != nil' %}
                        {% if l3ixchildren.size == 0 or l3ixchildren.size == nil %}
                            <p class="l3item{% if page.l3idx == l3ix %}active{%endif%}"><a title="{{ l3ixpgs[0].title}}" href="{{l3ixpgs[0].url | remove: '/'}}">{{l3ixpgs[0].title}}</a></p>
                        {% else %}
                            <details class="sbdeet deet3{% if page.l3idx == l3ix%} inpath{%endif%}"{% if page.l3idx == l3ix %} open {%endif%}><summary><a title="{{myl3name[0]}}" href="{{myl3url[0] | remove: '/'}}">{{myl3name[0]}}</a></summary>
                            {% for l3ixchild in l3ixchildren %}
                                {% comment %}  This is where we have to start digging down the rabbit-hole with nested if/for logic to get all the way "down" to l11idxes. {% endcomment %}
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                {% else %}
                    <p> Nothing here yet; check back later.  Or add page-nav: false to this page's frontmatter.</p>
                {% endif %}
            {% endif %}
        </div>
    </ul>
</nav>
