/* Mencken's customizations start here  */
/*                                      */
/*                                      */

:root {
    --menck-content-bg: white;
    --menck-content-txt: black;
    --menck-tn-bg: #347DBE;
    --menck-tn-border: #347DBE;
    --menck-tn-text: white;
    --menck-tn-dd-border: whitesmoke;
    --menck-tn-dd-txt: #347DBE;
    --menck-tn-dd-bg: white;
    --menck-sb-bg: whitesmoke;
    --menck-sb-text: #347DBE;
    --menck-sb-border: #347DBE;
    --menck-summary-bar: #347DBE;
    --menck-summary-txt: #347DBE;
    --menck-btn-bg: whitesmoke;
    --menck-btn-border: #dcdcdc;
    --menck-btn-txt: #347DBE;
    --menck-deets-bg: whitesmoke;
    --menck-deets-border: whitesmoke;
    --bs-border-color-translucent: grey;
  }

  .btn-menck-tn {
    --bs-btn-color: var(--menck-tn-text);
    --bs-btn-bg:  var(--menck-tn-bg);
    --bs-btn-border-color: grey;
    --bs-btn-hover-color: var(--menck-tn-text);
    --bs-btn-hover-bg:var(--menck-tn-bg);
    --bs-btn-hover-border-color: #grey;
    --bs-btn-active-color:var(--menck-tn-text);
    --bs-btn-active-bg:var(--menck-tn-bg);
    --bs-btn-active-border-color:grey;
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: var(--menck-tn-bg);
    --bs-btn-disabled-border-color: grey;
  }
    
  #bdNavbar > div.offcanvas-body > ul.navbar-nav.flex-row> li > * {
    background-color: var(--menck-tn-bg) !important;
    color:  var(--menck-tn-text) !important;
  }









  .bd-navbar .dropdown-menu {
    --bs-dropdown-link-hover-bg: var(--menck-tn-bg);
    --bs-dropdown-link-active-bg: var(--menck-tn-bg);
    --bs-dropdown-color: var(--menck-tn-text);
    --bs-dropdown-bg: var(--menck-tn-bg);
    --bs-dropdown-border-color: var(-menck-btn-border);
    --bs-dropdown-border-width: 2px;
    }


  .dropdown-menu {

    --bs-dropdown-color: var(var(--menck-tn-text));
    --bs-dropdown-bg: var(--bs-body-bg);
    --bs-dropdown-border-color: var(--bs-border-color-translucent);
    --bs-dropdown-divider-bg: var(--bs-border-color-translucent);
    --bs-dropdown-link-color: var(var(--menck-tn-text));
    --bs-dropdown-link-hover-color: var(var(--menck-tn-text));
    --bs-dropdown-link-hover-bg: var(--menck-tn-bg);
    --bs-dropdown-link-active-color: var(--menck-tn-text);
    --bs-dropdown-link-active-bg: var(--menck-tn-bg);
    --bs-dropdown-link-disabled-color: var(--menck-tn-text);
    --bs-dropdown-header-color: #6c757d;

    color: var(--menck-tn-text);
    background-color: var(--menck-tn-bg);

    color: var(--bs-dropdown-color);
    background-color: var(--bs-dropdown-bg);
    border: var(--bs-dropdown-border-width) solid var(--bs-dropdown-border-color);
    border-radius: var(--bs-dropdown-border-radius);
  }
  
  .dropdown-item {
    display: block;
    width: 100%;
    color: var(--menck-tn-text);
    text-align: inherit;
    text-decoration: none;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
  }

  .dropdown-item:hover, .dropdown-item:focus {
    color: var(--menck-tn-text);
    background-color: transparent;
  }

  .dropdown-item.active, .dropdown-item:active {
    color: var(--menck-tn-text);
    background-color: transparent;
  }

  .dropdown-item.disabled, .dropdown-item:disabled {
    color: var(--menck-tn-text);
    background-color: transparent;
  }
  
  .dropdown-menu.show {
    display: block;
  }
  
  .dropdown-header {
    display: block;
    padding: var(--bs-dropdown-header-padding-y) var(--bs-dropdown-header-padding-x);
    margin-bottom: 0;
    font-size: 0.875rem;
    color: var(--bs-dropdown-header-color);
    white-space: nowrap;
  }
  
  .dropdown-item-text {
    display: block;
    padding: var(--bs-dropdown-item-padding-y) var(--bs-dropdown-item-padding-x);
    color: var(--menck-tn-text);
  }

  
  .offcanvas, .offcanvas-xxl, .offcanvas-xl, .offcanvas-lg, .offcanvas-md, .offcanvas-sm {
    --bs-offcanvas-zindex: 1045;
    --bs-offcanvas-width: 400px;
    --bs-offcanvas-height: 30vh;
    --bs-offcanvas-padding-x: 1rem;
    --bs-offcanvas-padding-y: 1rem;
    --bs-offcanvas-color: var(--menck-tn-text);
    --bs-offcanvas-bg: var(--menck-tn-bg);
    --bs-offcanvas-border-width: var(--bs-border-width);
    --bs-offcanvas-border-color: var(--bs-border-color-translucent);
    --bs-offcanvas-box-shadow: var(--bs-box-shadow-sm);
    --bs-offcanvas-transition: transform 0.3s ease-in-out;
    --bs-offcanvas-title-line-height: 1.5;
  }

.menck-main{
    grid-area:main
    }

.menck-tn-bg-color {
  color: var(--menck-tn-bg) !important;
}
    
.menck-topnav-text-color {
  color: var(--menck-tn-text) !important;
  }

.menck-navbar {
  background-color: var(--menck-tn-bg);
  background-image: none;
  }

.menck-navbar > * {
  background-color: var(--menck-tn-bg);
  background-image: none;
  color: var(--menck-tn-text)
  }
  
.menck-toc  {
  background-color: transparent;
  text-decoration: none;
  }

.menck-toc * {
    background-color: transparent;
    text-decoration: none;
    color: var(--menck-sb-text)
    }

.bd-navbar {
  background-color: var(--menck-tn-bg);
  background-image: none;
  }

.bd-toc  {
  background-color: transparent;
  text-decoration: none;
  }

.bd-toc * {
    background-color: transparent;
    text-decoration: none;
    color: var(--menck-sb-text)
    }
  
.menck-sidebar *{
    background-color: transparent;
    text-decoration: none;
    color: var(--menck-sb-text)
    }
  
.left-sidebar-chunk,
.right-sidebar-chunk{
  background-color: var(--menck-sb-bg);
  border-radius: 5px;
  color: var(--menck-sb-text);
  }

.left-sidebar-chunk, *
.right-sidebar-chunk *{
  background-color: transparent;
  border-radius: 5px;
  text-decoration: none;
}
  
details.sbdeet {
    overflow: hidden;
    border-collapse: separate;
    border-style: hidden;
    margin-bottom: 0;
    padding: 0px 8px;
    border: hidden;
}

details.sbdeet[open] {
    overflow: hidden;
    border-collapse: separate;
    padding: 0px 8px;
    margin-bottom: 0;
    border-style: hidden;
    background-color: var(--menck-sb-bg);
    border-radius: 5px;
}

details.sbdeet summary {
    list-style: none;
    overflow: hidden;
    border-collapse: separate;
    padding: 0px 0px 2px 0px;
    cursor: pointer;
    background: none;
    border: hidden;
}

details.sbdeet summary::-webkit-details-marker {
    display: none;
   }

details {
    overflow: hidden;
    border-collapse: separate;
    border-style: hidden;
    padding: 0px 8px;
    margin-bottom: 15px;
    border: hidden;
}

details[open] {
    overflow: hidden;
    border-collapse: separate;
    padding: 0px 8px;
    border-color: var(--menck-deets-border);
    margin-bottom: 15px;
    border-style: hidden;
    background-color: var(--menck-deets-bg);
    border-radius: 5px;
}

details summary {
    list-style: none;
    overflow: hidden;
    border-collapse: separate;
    padding: 0px 0px 2px 0px;
    cursor: pointer;
    background: none;
    border: hidden;
}

details summary::-webkit-details-marker {
    display: none;
   }

/* plus */
details summary:before {
  content: '\F4FD';
  font-family: "bootstrap-icons";
/*    font-size: 14px; */
  padding-right: 8px;
  text-decoration: none;
}

/* minus */
details[open] summary:before {
  content: '\F2E9';
  font-family: "bootstrap-icons";
  /*    font-size: 14px; */
  padding-right: 8px;
  text-decoration: none;
}

/* plus */
details.deet4 summary:before {
    content: '\F4FD';
    font-family: "bootstrap-icons";
    /*    font-size: 14px; */
    padding-right: 8px;
    text-decoration: none;
  }

/* minus */
details.deet4[open] summary:before {
    content: '\F2E9';
    font-family: "bootstrap-icons";    
    /*    font-size: 14px; */
    padding-right: 8px;
    text-decoration: none;
  }

/* plus */
details.deet5 summary:before {
  content: '\F4FD';
  font-family: "bootstrap-icons";
  /*    font-size: 14px; */
  padding-right: 8px;
  text-decoration: none;
}

/* minus */
details.deet5[open] summary:before {
  content: '\F2E9';
  /*    font-size: 14px; */
  font-size: 14px;
  padding-right: 8px;
  text-decoration: none;
}

p.l10item, p.l10itemactive,
p.l9item, p.l9itemactive,
p.l8item, p.l8itemactive,
p.l7item, p.l7itemactive,
p.l6item, p.l6itemactive,
p.l5item, p.l5itemactive,
p.l4item, p.l4itemactive,
p.l3item, p.l3itemactive
 {
  margin: 0px;
  padding: 0px;
}

/* empty square*/
p.l10item > a:before,
p.l9item > a:before,
p.l8item > a:before,
p.l7item > a:before,
p.l6item > a:before,
p.l5item > a:before,
p.l4item > a:before,
p.l3item > a:before {
    content: '\F584';
    font-family: "bootstrap-icons";
    padding-right: 8px;
    padding-left: 8px;
    text-decoration: bold;
  }

/* full square*/
p.l10itemactive > a:before,
p.l9itemactive > a:before,
p.l8itemactive > a:before,
p.l7itemactive > a:before,
p.l6itemactive > a:before,
p.l5itemactive > a:before,
p.l4itemactive > a:before,
p.l3itemactive > a:before {
    content: '\F582';
    font-family: "bootstrap-icons";
/*    font-size: 14px; */
    padding-right: 8px;
    padding-left: 8px;
    text-decoration: none;
}

/* Sidebar item padding*/


.left-sidebar-chunk > p {
  padding: opx;
  margin: 0px;
}

p.l10itemactive > a:before,
p.l9itemactive > a:before,
p.l8itemactive > a:before,
p.l7itemactive > a:before,
p.l6itemactive > a:before,
p.l5itemactive > a:before,
p.l4itemactive > a:before,
p.l3itemactive > a:before {
    content: '\F582';
    font-family: "bootstrap-icons";
/*    font-size: 14px; */
    padding-right: 8px;
    padding-left: 8px;
    text-decoration: none;
}

/* Try topnav color scheme in sidebar.  */
div.medianav {
    background-color: var(--menck-sb-bg);
    color: var(--menck-sb-txt);
    border-style: none;
    display: flex;
    justify-content: space-evenly;
}

div.medianav * {
    padding: 8px;
}

div.mencknav {
    background-color: var(--menck-sb-bg);
    color: var(--menck-sb-txt);
    text-decoration: none;
    border-style: none;
/*
    margin-top: 8px;
    margin-bottom: 8px;
    border-bottom-color: var(--menck-sb-border);
    border-bottom-width: 2px;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-top-style: none;
*/
}

div.mencknav * {
    text-decoration: none;
    background-color: var(--menck-sb-bg);
    padding-bottom: 2px;
    padding-top: 2px;
    color: var(--menck-sb-txt);
}




/*                                      */
/*                                      */
/* Mencken's customizations end here    */





  @media (max-width: 600px) {
    .docnav li a {
      max-width: 180px;
    }
    .githubButton {
      display: none;
    }
  }
  @media (min-width: 600px) {
    .docnav li a {
      max-width: 240px;
    }
  }
  
  
  
  @media screen and (max-width: 767px) {
    .row-offcanvas {
      position: relative;
      -webkit-transition: all 0.75s ease-out;
      -moz-transition: all 0.75s ease-out;
      transition: all 0.75s ease-out;
    }
    .row-offcanvas-right .sidebar-offcanvas {
      right: -41.6%;
    }
    .row-offcanvas-left .sidebar-offcanvas {
      left: -41.6%;
    }
    .row-offcanvas-right.active {
      right: 41.6%;
    }
    .row-offcanvas-left.active {
      left: 41.6%;
    }
    .sidebar-offcanvas {
      position: absolute;
      top: 0;
      width: 41.6%;
    }
    #sidebar {
      padding-top: 0;
    }
  }
  
  @media (min-width: 992px) {
  
  .main {
      width: 75%;
  }
  
  .sidebar-offcanvas {
      width: 25%;
  }
  
  }

  @media (max-width: 767px) {
    .navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
        color: #444;
    }
}

@media (max-width: 990px) {
    #mysidebar {
        position: relative;
    }
}

@media (min-width: 1000px) {

    ul#mysidebar {
        width: 225px;
    }
}

@media (max-width: 900px) {

    ul#mysidebar {
        max-width: 100%;
    }
}

@media only screen and (min-width: 900px), only screen and (min-device-width: 900px) {
    .col-md-9 img {
        max-width: 700px;
        max-height: 700px;
    }
}


@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    img[src$=".svg"] {
        width: 100%;
    }
}




@media (max-width: 767px) {
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display:block !important;
    }
}
