<!doctype html>
<html lang="en" data-bs-theme="auto">
	{% include head.html %}
	<body data-bs-spy="scroll" data-bs-target="#TableOfContents">
		<div class="skippy visually-hidden-focusable overflow-hidden">
  			<div class="container-xl">
    				<a class="d-inline-flex p-2 m-1" href="#content">Skip to main content</a>
    				<a class="d-none d-md-inline-flex p-2 m-1" href="#bd-docs-nav">Skip to docs navigation</a>
  			</div>
		</div>
		{% include new-svg-symbols.html %}
		{% include newtemplate-header.html %}
		<div class="container-xxl bd-gutter mt-3 my-md-4 bd-layout">
			{% include new-sidebar.html %}
			<main class="bd-main order-1">
				{% include new-page-intro.html %}
				{% include new-page-toc.html %}
				{% include new-page-content.html %}
			</main>
		</div>
	</body>

</html>
