<!doctype html>
<html lang="en" data-bs-theme="auto">
	{% include head.html %}
	<body>
		{% include svg-symbols.html %}
		{% include header.html %}
			<div class="container-xxl"; style="margin-top:16px;">
				<div class="row flex-wrap" style="margin-right:goes0px;" >goes
						<div id="MenckSidebar" class="menck-sidebar collapse-horizontal collapse px-0 sticky-top z-0 " style="transition:none; max-width: 300px;">
							{% include this-sidebar-goes-to-11.html %}
						</div>
					<main class="col menck-main ps-md-2" style="padding-left: 8px; padding-right: 8px; margin-left:12px; margin-right:12px;">
						<div class="row">
							{% include intro.html %}
							{% include content.html %}
						</div>
					</main>

{%comment%}					{% unless page.pagenav == false %}
<!--					<div id="MenckRightbar" class="menck-sidebar col-lg-2 px-0 collapse-horizontal collapse sticky-lg-top z-0" style="max-width: 270; min-width: 270; transition:none;">
							<nav class="bs-links w-100 menck-sblinks" id="page-toc" aria-label="Page TOC">
								<ul class="bs-links-nav list-unstyled mb-0 pb-3 pb-md-2 pe-lg-2">
								<div class="mencknav right-sidebar-chunk">
									<div style="padding-top: 16px;"><p><strong><a class="sbtitle">On this page</a></strong></p></div>
									{% include toc.html html=content sanitize=true class="inline_toc" item_class="inline_toc_item" id="my_toc" h_min=2 h_max=3 %}
								</div>
								</ul>
							</nav>
 								{% include toc.html %}
						</div>
-->					{% endunless %}
{%endcomment%}
				</div>
			</div>
		{% include footer.html%}
	</body>
</html>
